.list-header {
  background-color: $mid-grey;
  border: 1px solid darken($mid-grey,7%);
  color: $dark-grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  margin-bottom: 1rem;
}

.list-item {
  display: flex;
  flex-direction: column;


  border: 1px solid darken($light-grey, 7%);
  border-top: 1px solid transparent;
  color: $dark-grey;
  padding: $s-size;
  transition: background .3s ease;
  font-size: 1.6rem;
  &:hover {
    background-color: $mid-grey;
  }

  &__title {
    word-break: break-all;
  }

  &__sub-title {
    color: $dark-grey;
    font-size: 1.4rem;
  }

  &__data {
    margin-top: $s-size;

    @media (min-width: $desktop-breakpoint) {
      margin: 0;
      padding-left: $s-size;
    }
  }

  &__message {
    align-items: center;
    justify-content: center;
    color: $dark-grey;
    padding: $m-size;

    &:hover {
      background-color: transparent;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $m-size;
  }
}